.table-buttons {
    text-align: center;
    width: 100px;
}

.signuptip {
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}
.inputlabel{
    font-weight: 400;
    margin-top: 10px;

}
.flightlabel{
    font-weight: 600;
    margin-top: 10px;

}
.img-loggin{
    margin-left: -30px;
    margin-top: -30px;
}
.img-modal{
    margin-top: -16px;
    margin-left: -16px;
}

.icons {
    width: 140px;
    text-align: center;
}